@import '../../common/styl/variables.styl'

.footer
  display block
  padding 0 $indent-body-padding $indent-3

  &__copyright
    padding $indent-1 0
    font-size 12px
    text-align center

  &__author
    color $color-grey-dark

  &__feedback
    padding $indent-1 0 0
    font-size 12px
    color $color-grey-dark
    text-align center

  &__feedback-link
    color $color-grey-dark
