.footer__feedback
  | Отзывить отзыв, предложение:
  |
  a.footer__feedback-link(href="https://www.facebook.com/messages/t/vasinceo", rel="nofollow", target="_blank") легко

.footer__copyright
  | © {{year}} created by
  |
  a.footer__author(href="https://www.facebook.com/vasinceo", rel="nofollow", target="_blank") Sergei Vasin
