@import '../../../common/styl/variables.styl'

.calendar-date
  text-align center
  display inline-block
  padding $indent-1
  margin-right $indent-2
  border 1px dashed transparent
  border-radius $border-radius-s
  background-color $color-blue-x-light
  white-space nowrap
  user-select none
  cursor pointer

  &:first-child
    margin-left $indent-body-padding

  &__date-month
    margin-left $indent-2

  &--today &
    &__week-day
    &__date-month
      font-weight bold

  &--active
    background-color $color-blue-light

  &--weekend &
    &__week-day
      color $color-red

  &--ready-for-drop
    border-color $color-orange
