@import '../variables.styl'

.bg-red
  background-color $color-red

.bg-orange
  background-color $color-orange

.bg-green
  background-color $color-green

.bg-transparent
  background-color transparent

