@import '../../common/styl/variables.styl'

.calendar
  flex auto
  display flex
  flex-direction column

  &__show-hide-row
    margin auto $indent-body-padding

  &__show-hide-removed
    display inline-block
    margin $indent-3 auto
    border-bottom 1px dashed
    cursor pointer
