$color-red = #c22

$color-orange = #fa0

$color-green = #7b2
$color-green-light = #cf7

$color-blue = #2196f3
$color-blue-light = #cff
$color-blue-x-light = #eff

$color-grey-light = #eee
$color-grey = #ccc
$color-grey-dark = #808080
$color-grey-darker = #555

$color-black = #2a2a2a

$color-white = #fff

$color-overlay--white = rgba(255, 255, 255, .5)

$color-black-alpha--15 = rgba(0, 0, 0, .15)
