$indent-base = 4px

$indent-0 = $indent-base / 2
$indent-1 = $indent-base * 1
$indent-2 = $indent-base * 2
$indent-3 = $indent-base * 3
$indent-4 = $indent-base * 4
$indent-5 = $indent-base * 5
$indent-6 = $indent-base * 6
$indent-7 = $indent-base * 7
$indent-8 = $indent-base * 8
$indent-10 = $indent-base * 10
$indent-15 = $indent-base * 15

$indent-100 = $indent-base * 100

$indent-body-padding = $indent-3

$list-adder-height = 30px
