@import './colors.styl'

$shadow-m = 0 2px 0 0 $color-black
$shadow-m-blue = 0 0 3px 0 $color-blue

$shadow-m-top = 0 (-($indent-2)) $indent-2 0 $color-black-alpha--15
$shadow-m-bottom = 0 $indent-2 $indent-2 0 $color-black-alpha--15
